crontab
pillow
markdown
tkhtmlview
tkinterhtml
pywebview
ttkbootstrap
markdown2
requests
python-dotenv
anthropic
pdflatex
pdf2image
pyttsx3
bs4
pyperclip
pyyaml
psutil
faiss-cpu
torch
torchaudio
sentence_transformers
langchain
langchain_community
PyPDF2
openai
tiktoken
llama-cpp-python
uvicorn
starlette
fastapi
sse_starlette
starlette_context
py-solc-x
web3
aria2p